.contact__container{
    position: fixed;
    left: 0.625rem;
    top: 28.125rem;
    width: 2.1875rem;
    height: auto;
    transition: .5s;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.125rem rgba(0, 0, 255, .2);
    border-radius: 100%;
    z-index: 2;
}

.contact__container:hover{
    width: 2.5rem;
}
