.footer__container{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100rem;
  min-width: auto;
  /*height: 170px;*/
  height: auto;
  margin: 0 auto;
  padding: 0 0 1.25rem 3rem;
  background-color: var(--back-ground-color);
  border: 0.0625rem solid var(--primary-color);
  overflow: hidden;
}

.footer__message__container{
  padding-top: 1.875rem;
  font-size: 3.125rem;
  line-height: 1.1;
  width: 30%;
  height: auto;
}

.footer__copyright__container{
  color: var(--primary-color);
  text-align: center;
  line-height: 2;
}

.footer__copyright__container > span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 0.3125rem;
}

.footer__copyright__container > span svg{
  width: 1.875rem;
  height: auto;
}
