.nutrition__container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  min-width: auto;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0 1.25rem 0;
  background-color: rgba(185, 28, 28, 0.9);
  border-top: 0.0625rem solid var(--back-ground-color);
  border-bottom: 0.0625rem solid var(--primary-color-red);
  overflow: hidden;
  transition: 1s;
}

.nutrition__beside__img__container{
  position: absolute;
  width: auto;
  height: 100%;
  top: 1.875rem;
  z-index: 1;
}

.nutrition__beside__img{
  width: auto;
  height: 100%;
  transition: 1s;
}

.nutrition__banner__container{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 3.75rem;
  background-color: var(--secondary-color);
}

.nutrition__banner__logo__container{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 37%;
  padding-top: 0.625rem;
  gap: 0.625rem;
  width: 100%;
  height: auto;
  z-index: 3;
  transition: 2s;
}

.nutrition__info__container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  padding: 0 1.5% 0 4.0625rem;
  gap: 2%;
  transition: 1s;
}

.nutrition__info__content__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 17.8125rem;
  min-height: 17.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.1875rem 1.0625rem rgba(0,0,0,.1);
  outline: 0.125rem solid var(--secondary-color);
  flex-shrink: 0;
  transition: .25s;
  background-color: var(--primary-color);
  overflow: hidden;
  z-index: 2;
}

.nutrition__info__content__container:hover{
  outline: 0.125rem solid var(--back-ground-color);
  box-shadow: 0 0 0 0.4375rem rgba(0,0,0,.5);
}

.nutrition__info__img__container{
  text-align: center;
  width: 100%;
  height: auto;
}

.nutrition__info__img__container > img {
  display: block;
  width: 100%;
  height: 6.25rem;
  object-fit: cover;
}

.nutrition__info__img__container > figcaption{
  background-color: var(--secondary-color);
  border-top: 0.0625rem solid var(--primary-color-red);
  border-bottom: 0.0625rem solid var(--primary-color-red);
  line-height: 3;
}

.nutrition__info__description__link__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  padding: 0.625rem 1.25rem;
  height: auto;
  color: var(--secondary-color);
}

.nutrition__info__description__link__container > p{
  line-height: 1.5;
  margin-bottom: 1.875rem;
}

.nutrition__info__description__link__container > a{
  line-height: 1.5;
  text-decoration: none;
}

.nutrition__info__description__link__container > a:hover{
  color: var(--primary-color-red);
}

.nutrition__info__link__container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 8.125rem;
  max-width: 17.8125rem;
  min-height: 17.5rem;
  z-index: 1;
}

.nutrition__info__link__container > a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: var(--primary-color);
}

.nutrition__info__link__container > a:hover{
  color: var(--secondary-color);
}

.hidden__nutrition__card{
  display: none;
}
