@media only screen and (max-width: 1024px){
    /*  ABOUT SECTION  */
    .about__container{
        background-image: url('/src/img/Jay-Cutler.png');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 100%;
        background-size: contain;
        transition: 1s;
        background-color: var(--secondary-color);
        border-top: 0.0625rem solid var(--primary-color);
        border-bottom: 0.0625rem solid var(--primary-color);
    }

    .about__content__container{
        flex-direction: column;
        align-items: center;
    }

    .about__img__container{
        display: none;
    }

    .about__description__container{
        width: 100%;
        height: auto;
    }

    .about__description__container > h2{
        margin-top: 3.125rem;
        line-height: 1.5;
    }
      
    .about__description__text{
        line-height: 1.3;
        font-weight: 600;
        color: var(--primary-color);
    }

    .about__description__text > span{
        color: var(--primary-color-red);
    }

    /*  NUTRITION SECTION  */
    .nutrition__beside__img__container{
        right: 0;
    }

    .nutrition__banner__container{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .nutrition__banner__logo__container{
        position: static;
        font-size: 4.0625rem;
        transition: 2s;
        margin-left: 4.0625rem;
    }

    .nutrition__info__container{
        display: flex;
        align-items: flex-end;
    }
}
