@media only screen and (max-width: 1170px) {
    .footer__container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        margin: 0 auto;
    }

    .footer__message__container{
        width: 20.3125rem;
        height: auto;
        transition: 1s;
    }
    
    .footer__copyright__container{
        padding: 0 1.25rem 1.25rem 0;
    }
}

@media only screen and (max-width: 431px){
    .footer__container{
        display: flex;
        justify-content:flex-start;
    }

    .footer__copyright__container > span, .hidden{
        display: none;
    }
}
