.nav__container{
    position: fixed;
    left: 0.5%;
    top: 10%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu__container{
    display: flex;
    flex-direction: column;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
}

.menu__item__container{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0.625rem 0.3125rem;
    font-size: 0;
    width: 3.125rem;
    height: 2.5rem;
    background-color: rgba(0,0,0,0.5);
    transition: 1s;
    text-wrap: nowrap;
}

.menu__item__container:hover{
    font-size: 1rem;
    height: 2.5rem;
    transition: 1s;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
}

.menu__item__container__border__top{
    border-top-left-radius: 0.625rem !important; 
    border-top-right-radius: 0.625rem !important;
}

.menu__item__container__border__bottom{
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
}

.menu__item__container > a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-red);
    width: 100%;
    height: auto;
}

.menu__item__container > a > svg{
    width: 50%;
    height: auto;
    transition: 0.5s;
}

/* MENU ITENS */

.menu__item__container__home:hover{
    width: 3.9375rem;
}

.menu__item__container__about:hover{
    width: 4.375rem;
}

.menu__item__container__events:hover{
    width: 4.375rem;
}

.menu__item__container__membership:hover{
    width: 7.1875rem;
}

.menu__item__container__nutrition:hover{
    width: 5.9375rem;
}

.menu__item__container__join_us:hover{
    width: 4.375rem;
}

/* WHATSAPP CONTACT */

.contact__container{
    margin-left: 0.9375rem;
}

.contact__container__link{
    margin-top: 50%;
    width: 2.1875rem;
    height: auto;
    transition: .5s;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.125rem rgba(0, 0, 255, .2);
    border-radius: 100%;
    z-index: 2;
}

.contact__container__link:hover{
    width: 2.5rem;
}


.teste{
    margin-left: 0.9375rem;
}
